page-changepass {

    .toolbar-title{
        font-size: 2rem;
          font-weight: 500;
          color: #fff;
          text-align: center;
          margin-left: -8%;
      }
      .toolbar-background {
        background-color: #0679c9;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }    
    .sign_btn{
        margin-top:10px;
    }
}
