<!--
  Generated template for the QuotemapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the QuoteviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar no-padding>
      <!-- <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button> -->
    <ion-title>Quote</ion-title>
    <!-- <ion-segment>
        <ion-segment-button  class="button-l" (click)="listshow()">
          List View
        </ion-segment-button>
        <ion-segment-button  class="button-m" (click)="mapshow()">
          Map View
        </ion-segment-button>
      </ion-segment> -->
  </ion-toolbar>
  <ion-segment>
    <ion-segment-button  class="button-l" (click)="listshow()">
      List View
    </ion-segment-button>
    <ion-segment-button  class="button-m" (click)="mapshow()">
      Map View
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <ion-list>
          <h5 style="color:#000" text-center>Booking Details</h5>

          <ion-row *ngIf = "cgadget">
              <ion-col col-5 text-left>
               <b>Service Type</b>
              </ion-col>
              <ion-col col-1><b>:</b></ion-col>
              <ion-col col-6 text-left>
                  {{cgadget}}
              </ion-col>
            </ion-row>

            <ion-row *ngIf = "requestedService">
                <ion-col col-5 text-left>
                 <b>Requested Service</b>
                </ion-col>
                <ion-col col-1><b>:</b></ion-col>
                <ion-col col-6 text-left>
                    {{requestedService}}
                </ion-col>
              </ion-row>

             <ion-row *ngIf = "make">
                     <ion-col col-5 text-left>
                      <b>Make</b>
                     </ion-col>
                     <ion-col col-1><b>:</b></ion-col>
                     <ion-col col-6 text-left>
                         {{make}}
                     </ion-col>
                   </ion-row>
                   <ion-row *ngIf = "model">
                         <ion-col col-5 text-left>
                          <b>Model</b>
                         </ion-col>
                         <ion-col col-1><b>:</b></ion-col>
                         <ion-col col-6 text-left>
                             {{model}}
                         </ion-col>
                       </ion-row>
                       <ion-row  *ngIf = "cgadget != 'Beauty_Services'">
                             <ion-col col-5 text-left>
                              <b>Problem</b>
                             </ion-col>
                             <ion-col col-1><b>:</b></ion-col>
                             <ion-col col-6 text-left>
                                     <p  *ngIf="soft!=''||hard !=''||othermodel !=''||description !=''">{{soft}}{{hard}}{{othermodel}}{{description}}</p>
                                     
                             </ion-col>
                           </ion-row>

                           <ion-row *ngIf = "timePeriod">
                              <ion-col col-5 text-left>
                               <b>Time Period</b>
                              </ion-col>
                              <ion-col col-1><b>:</b></ion-col>
                              <ion-col col-6 text-left>
                                  {{timePeriod}}
                              </ion-col>
                            </ion-row>

                           <ion-row *ngIf = "preferredlocation">
                              <ion-col col-5 text-left>
                               <b>Preferred Location</b>
                              </ion-col>
                              <ion-col col-1><b>:</b></ion-col>
                              <ion-col col-6 text-left>
                                  {{preferredlocation}}
                              </ion-col>
                            </ion-row>
                           <ion-row *ngIf = "pickup">
                                 <ion-col col-5 text-left>
                                  <b>Pickup</b>
                                 </ion-col>
                                 <ion-col col-1><b>:</b></ion-col>
                                 <ion-col col-6 text-left>
                                     {{pickup}}
                                 </ion-col>
                               </ion-row>
                               <ion-row>
                                     <ion-col col-5 text-left>
                                      <b>Booking Date</b>
                                     </ion-col>
                                     <ion-col col-1><b>:</b></ion-col>
                                     <ion-col col-6 text-left>
                                         {{booking_date}}
                                     </ion-col>
                                   </ion-row>
                                 </ion-list>

<ion-content class="map-pin">
  <div #map id="map"></div> 
</ion-content>

<!-- <div class="btn-group switch">
<button ion-button color="light" class="button" (click)="listshow()" icon-only>List View</button>
<button ion-button color="light" class="button" (click)="mapshow()" icon-only>Map View</button>
</div> -->

</ion-content>
